body {
    padding-top: 120px;
    padding-bottom: 70px;
}

.panel-button {
    /*display: none;*/
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

.panel-title {
    padding: 6px;
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.note {
    min-width: 33.3333333%;
    /*height: 320px;*/
}

.trash {
    display: none;
}

.trash.toggled {
    display: block;
}
/*
.panel-title:hover {
    padding: 5px;
    border: 1px dotted #337ab7;
    opacity: 0.5;
}
*/
/*
.panel-title:focus {
    border: 1px solid #000;
}

.panel-title:focus .panel-title:hover {
    border-width: 0;
}
*/

.panel:hover .panel-button {
    display: block;
    opacity: 1;
}

#sidebar-wrapper {
    z-index: 1033;
    overflow-y: hidden;
    background-color: #fff; 
}

#sidebar-wrapper:hover {
    overflow-y: auto;
}

#menu-close {
    z-index: 1035;
}

.footer {
    margin: 15px;
}

.inline {
    display: inline;
}

.animate {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

#desktop-search-bar {
    padding-left: 0;
}    
/* Sidebar style */
.sidebar-nav {
    top: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 34px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
    border: 0;
    margin-right: 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #ddd;
    margin-right: 0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    border: 0;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
/* End sidebar style */

/* Toggled Styles */

#main.toggled,
#nav.toggled {
    left: 0;
}

#main.toggled {
    padding-right: 15px;
}

#nav.toggled {
    max-width: 100%;
}

#menu-toggle {
    width: 44px;
    color: #fff;
    background-color: #000;
    border-color: #222222;
}

#menu-toggle:hover,
#menu-toggle:active,
#menu-toggle.toggled:hover,
#menu-toggle.toggled:active {
    color: #fff;
    background-color: #000;
    border-color: #222222;
}


/* Toggled Styles */

@media (min-width: 992px) {
    #nav {
        left: 16.66666667%;
        max-width: 83.33333333%;
    }
    #desktop-search-bar input {
        min-width: 400px;
    }
}

@media (min-width: 768px) {
    body {
        padding-left: 250px;
    }

    body.toggled {
        padding-left: 0;
    }

    #mobile-search-bar {
        display: none;
    }



    #nav {
        left: 250px;
    }

    #page-content-wrapper {
        padding: 10px 0;
    }

    .footer {
        margin-left: 15px;
        /*margin-right: 15px;*/
        /*width: 83.33333333%;*/
    }
    .navbar-right {
        margin-right: 0;
    }

    .dropdown {
        margin-right: -15px;
    }

    /* Sidebar style */
    #sidebar-wrapper {
        position: fixed;
        padding-left: 0;
        top: 0;
        left: 0;
        min-width: 250px;
        max-width: 250px;
        height: 100%;
    }
    .sidebar-nav {
        position: absolute;
        width: 250px;
        padding: 0;
    }    
    /* End sidebar style */

    /* Toggled Style*/

    #sidebar-wrapper.toggled {
        left: -250px;
    }

    .footer.toggled {
        margin-left: 15px;
    }
    /* End toggled style*/

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
    #nav {
        /* Full width bar*/
        left: 0%;
    }

    #app {
        margin-top: 0;
    }

    #desktop-search-bar,
    #view-control {
        display: none;
    }

    #page-content-wrapper {
        padding: 10px 0;
    }

    #toolbar {
        z-index: 1035;
        margin: auto;
    }

    #sidebar-wrapper {
        z-index: 1000;
    }

    #menu-toggle {
    position: relative;
    float: left;
    height: 44px;
    padding: 10px;
    margin-left: 8px;
    background-color: #fff;
    color: #000;
    background-image: none;
    border: 1px solid #ddd;
    }
    /* Sidebar style */
    .sidebar-nav {
        top: 0;
        width: 100%;
        margin: 0;
        padding: 15px 15px;
        list-style: none;
    }

    /* End sidebar style */

    /* Toggled Style*/
    #sidebar-wrapper.toggled {
        left: calc(100% * -1);
        height: 0;
    }
    /* End toggled style*/
}