body {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}
.page-name {
    text-align: center;
}
.container {
    min-width: 300px;
    /*max-width: 400px;*/
}
.footer {
    z-index: 1033;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0px;
    padding: 5px;
    background-color: #ddd;
}
header,
.maya-menu {
    margin: 20px;
}
/*Auto expand dropdown menu when mouse hover*/

.dropdown:hover .dropdown-menu {
    display: block;
}
/* if you want to hide the arrow */

a.menu:after,
.dropdown-toggle:after {
    content: none;
}
/* -- End -- */

.site-logo {
    width: 166px;
}
.navbar {
    margin-bottom: 0;
}
.panel-heading {
    overflow: hidden;
}
.total {
    display: inline;
}
.note-title {
    height: 100%;
}
.panel-body {
    min-height: 45px;
}
.panel-body:active {
    border: 0;
}
.panel-title {
    padding: 6px 0;
    width: calc(100% - 95px);
    /*
    max-height: 34px;
    overflow: hidden;
*/
}
.active {
    color: #000000;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    border-color: red;
}
.stripe {
    border-left: 5px solid #C9302C;
}
.stripe:hover {
    color: #fff;
}
.stripe:active {
    border-left: 5px solid #fff;
    background: #C9302C;
}

/*
Written on 14/11/2014
Author: Le Minh Tri <ansidev@gmail.com>
App Dashboard CSS
*/

@media (min-width: 768px) {
    #app {
        position: relative;
        height: 100%;
        background-color: #000;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }


    #main,
    #sidebar,
    #appbar,
    #toolbar {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }


    #appbar,
    #toolbar {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ddd;
        position: fixed;
        width: 100%;
        left: 250px;
    }

    #main {
        background-color: #f7f7f7;
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 250px;
        left: 250px;
        top: 0;
        padding-top: 100px;
        z-index: 1000;
    }

    #sidebar {
        position: relative;
        padding-left: 0;
        width: 250px;
        height: 100%;
        left: 0;
        z-index: 990;
        background-color: #000;
    }

    #appbar {
        top: 0;
        z-index: 1033;
        padding: 0 280px 0 0;
    }

    #toolbar {
        top: 50px;
        padding: 0 270px 0 15px;
        z-index: 1000;
    }

    /* Toggled Styles */
    #sidebar.toggled {
        left: -250px;
    }

    #main.toggled,
    #appbar.toggled,
    #toolbar.toggled {
        left: 0;
    }

    #main.toggled {
        padding-right: 0;
    }

    #appbar.toggled,
    #toolbar.toggled {
        padding-right: 30px;
    }

    #menu-toggle {
        width: 44px;
        color: #fff;
        background-color: #000;
        border-color: #222222;
    }

    #menu-toggle:hover,
    #menu-toggle:active,
    #menu-toggle.toggled:hover,
    #menu-toggle.toggled:active {
        color: #fff;
        background-color: #000;
        border-color: #222222;
    }

    #menu-toggle.toggled {
        color: #000;
        background-color: #f5f5f5;
        border-color: #222222;
    }


    /* Toggled Styles */

    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }
    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999;
    }
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
    }
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }
    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }
    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }
    .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
    }
    /* End Sidebar Styles */
}
/* CSS for small devices*/
@media (min-width:320px) and (max-width: 767px){
    #app {
        background-color: #fff;
    }


    #main,
    #sidebar,
    #appbar,
    #toolbar {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #main,
    #appbar,
    #toolbar {
        background-color: #f8f8f8;
        padding-left: 15px;
    }

/*    #main {
        padding-left: 15px;
    }
*/
    #sidebar {
        left: -250px;
    }

    #appbar {
        top: 0;
        z-index: 1033;
        padding: 0 280px 0 0;
    }

    #toolbar {
        top: 50px;
        padding: 0 270px 0 15px;
        z-index: 1000;
    }

    /* Toggled Styles */
    #sidebar.toggled {
        left: -250px;
    }

    #main.toggled,
    #appbar.toggled,
    #toolbar.toggled {
        left: 0;
    }

    #main.toggled {
        padding-right: 0;
    }

    #appbar.toggled,
    #toolbar.toggled {
        padding-right: 30px;
    }

    #menu-toggle {
        padding-left: 15px;
        width: 100%;
        color: #fff;
        background-color: #000;
        border-color: #222222;
    }

    #menu-toggle:hover,
    #menu-toggle:active,
    #menu-toggle.toggled:hover,
    #menu-toggle.toggled:active {
        color: #fff;
        background-color: #000;
        border-color: #222222;
    }

    #menu-toggle.toggled {
        color: #000;
        background-color: #f5f5f5;
        border-color: #222222;
    }


    /* Toggled Styles */

    /* Sidebar Styles */

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }
    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #999999;
    }
    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255, 255, 255, 0.2);
    }
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }
    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }
    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }
    .sidebar-nav > .sidebar-brand a:hover {
        color: #fff;
        background: none;
    }

    }
    /* End Sidebar Styles */
}

/* END */