/* 
    Created on : Dec 4, 2014, 1:09:59 AM
    Author     : ansidev
*/


#first-sidebar,
#second-sidebar {
    padding-left: 0;
    margin: 0;
    z-index: 1033;
    overflow-y: hidden;
}

#first-sidebar {
    background-color: #000; 
    color: #fff;
    padding-left: 15px;
}

#second-sidebar {
    background-color: #494949; 
    color: #fff;
}

#first-sidebar:hover,
#second-sidebar:hover {
    overflow-y: auto;
}

/* Sidebar style */
.sidebar-nav {
    top: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 34px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    border: 0;
    margin-right: 0;
    padding: 0 15px 0 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #fff;
    margin-right: 0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    border: 0;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
/* End sidebar style */

@media (min-width: 768px) {
    /* Sidebar style */
    #first-sidebar {
        position: fixed;
        padding-right: 0;
        top: 0;
        /*left: 10px;*/
        width: 250px;
        height: 100%;
    }
    #second-sidebar {
        position: fixed;
        padding-left: 0;
        padding-right: 0;
        top: 0;
        left: 235px;
        width: 250px;
        height: 100%;
    }
    .sidebar-nav {
        /*position: absolute;*/
        /*width: 200px;*/
        /*max-width: 16.66666667%;*/
        padding: 0;
    }
    #note-title {
        margin: 0;
        padding: 0;
    }
    /* End sidebar style */
}

@media (max-width: 767px) {
    #first-sidebar,
    #second-sidebar {
        height: 300px;
        overflow-y: scroll;
    }
}